/* Fonts */
h1 {
	font-family: 'Alegreya Sans SC', sans-serif; 
	font-weight: 800;
}

h3 {
	font-family: 'Alegreya Sans SC', sans-serif; 
	font-weight: 500;
}

p {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
}

/* Fixed Title Bar Styles */
.title_bar {
	position: fixed;
	width: 100%;
	background-color: #76b9e0;
}

.ecovent_logo {
	padding-bottom: 0%;
	margin-bottom: -1%;
	padding-right: 2%;
	width: 30%;
	float: left;
}

.title {
	color: white;
	font-size: 3.5em;
	padding-bottom: 0%;
	margin-bottom: -1%;
	margin-top: 3%;
}

.sign_up {
	float: right;
}

/* Ecovent Video with Vent Border */
.vent_image {
	position: absolute;
	padding-top: 8%;
	margin-left: 8%;
	width: 88%;
	height: 82%;
}

.vent_video {
	position: absolute;
	margin-top: 12.2%;
	float: left;
	margin-left: 23%;
	width: 56%;
	height: 59%;
}