/* Fonts */
h1 {
	font-family: 'Alegreya Sans SC', sans-serif; 
	font-weight: 800;
}

h3 {
	font-family: 'Alegreya Sans SC', sans-serif; 
	font-weight: 500;
}

p {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
}

/* CLearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Fixed Title Bar Styles */
.title_bar {
	position: fixed;
	width: 100%;
	background-color: #49a7dd;
	z-index: 15;
}

.ecovent_logo {
	padding-bottom: 0%;
	margin-bottom: -1%;
	padding-right: 2%;
	width: 30%;
	float: left;
}

.title {
	color: white;
	font-size: 3.5em;
	padding-bottom: 0%;
	margin-bottom: -1%;
	margin-top: 3%;
}

.sign_up {
	float: right;
}

/* Ecovent Video with Vent Border */
.vent_image {
	float: right;
	padding-top: 8%;
	padding-right: 8%;
	width: 88%;
	height: 82%;
	z-index: 8
}

.vent_video {
	position: absolute;
	margin-top: 12.5%;
	margin-left: 23%;
	width: 56%;
	height: 49%;
	z-index: 10;
}

.video_section {
	margin-bottom: 4%;
}

/* Systems Banner */
.systems_banner, .what_can {
	width: 100%;
	background: #F4F4F4 repeat;
	padding-top: 2%;
	padding-bottom: 5%;
}

.section_title {
	text-align: center;
	font-size: 2.75em;
}

.systems_comp, .what_can_eco {
	padding-left: 3%;
	text-align: center;
}

.systems_comp img {
	width: 80%;
}

/* Story Banner */
.story p {
	margin-left: 10%;
	margin-right: 10%;
}

.story {
	margin-bottom: 5%;
}

/* What Can Banner */
.what_can_eco img {
	width: 60%;
}